
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding-top: 80px;
  line-height: 1.6;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.8rem;
  color: #222;
}

header button {
  margin-left: 10px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


#busca {
  width: 100%;
  max-width: 500px;
  padding: 12px 16px;
  margin: 50px auto 20px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}


button {
  background: #007BFF;
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}

button + button {
  margin-left: 10px;
}


#catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  margin-top: 30px;
  padding: 0 10px 60px;
}

.card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; 
  box-sizing: border-box; 
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card h3 {
  margin: 15px 0 5px;
  font-size: 1.1rem;
  color: #222;
  padding: 0 10px;
}

.card p {
  font-size: 0.95rem;
  color: #555;
}

.card-buttons {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  flex-wrap: wrap; 
}


.card-buttons button {
  background: #007BFF;
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  flex: 1; 
  min-width: 100px; 
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }


.card img {
  width: 100%;
  height: 450px;;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}
}


.actions {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

.actions button {
  white-space: nowrap;
  padding: 10px 14px;
  font-size: 0.95rem;
  border-radius: 8px;
}


.mensagem {
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  font-size: 0.95rem;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

.mensagem.erro {
  color: #d32f2f;
  background-color: #fddede;
  border: 1px solid #d32f2f;
}

.mensagem.sucesso {
  color: #388e3c;
  background-color: #dff0d8;
  border: 1px solid #388e3c;
}

